## Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’ Add ‘mango to the above list Also add banana, grapes & orange in the list insert apple in the 5th position of a variable ‘a’ Remove last item from the list

In [49]:
a = [2,3,4,5,6,7]
a.append('mango')
a.extend(['banana','grapes','orange'])
a.insert(4, 'apple')
a.pop()
print(a)

[2, 3, 4, 5, 'apple', 6, 7, 'mango', 'banana', 'grapes']

## Q2.
## L = [1,2,3,4,5,6,7]
## Using the above list slice from 1:4

In [8]:
L = [1,2,3,3,4,5,6,7] 
print(L[1:4])

[2, 3, 3]

## Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [9]:
L = [4,5,6,7,8,3]
print(L[::-1])

[3, 8, 7, 6, 5, 4]

## Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [12]:
L = [2,4,7,3,6,8]
print([x**2 for x in L])

[4, 16, 49, 9, 36, 64]

## Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [13]:
def tup_sum(tuple_arg):
    sum = 0
    for i in tuple_arg:
        sum = sum + i
    return sum
tup_sum((2,3,4,56))

65

## Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [27]:
A = {'Apple','Mango','Banana'}
B = {'Orange','Grapes','Pineapple'}
C = A.union(B)
print(C)

{'Apple', 'Orange', 'Banana', 'Mango', 'Pineapple', 'Grapes'}

## Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [43]:
import random
x = set([random.choice(list(C)) for _ in range(5)])
print(f'old set {x}')
x.add('New word')
print(f'New Set {x}')

old set {'Grapes', 'Orange', 'Banana'}
New Set {'New word', 'Grapes', 'Orange', 'Banana'}

## Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [44]:
Animal = {'Cow','Buffalo','Dog','Cat','Elephant','Lion','Tiger','Fox'}
Animal.remove('Dog')
print(Animal)

{'Elephant', 'Buffalo', 'Lion', 'Tiger', 'Fox', 'Cat', 'Cow'}

## Q9.Use the zip() function to combine the book set and movie list into a list of tuples representing book/ movie pairs. Print the resulting list.

In [46]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]

In [48]:
list_of_books_and_movies = list(zip(favorite_books, favorite_movies))
print(list_of_books_and_movies)

[('1984', 'The Shawshank Redemption'), ('Pride and Prejudice', 'The Godfather'), ('To Kill a Mockingbird', 'The Dark Knight')]

## Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [52]:
def consecutive_diff(lst):
    cons_diff = []
    for i in range(len(lst)-1):
        cons_diff.append(abs(lst[i] - lst[i+1]))
    return cons_diff
consecutive_diff([2,5,3,7,8,9,0])

[3, 2, 4, 1, 1, 9]